.product {
  border: 1px solid #DDD;
  border-radius: 6px;
  margin-bottom: 16px;
  position: relative;
  font-size: 2em;

  p {
    font-size: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 2.5rem;
      margin-bottom: .8rem;

      &::before {
        position: absolute;
        left: 0;
        content: '\2605';
        color: #32A2B8;
      }
    }
  }

  &__title {
    padding: 1.6rem;
    margin: 0;
    background: #DDD;
  }

  &__description {
    background-color: #FFF;
    padding: 1.6rem;
  }

  &__price {
    position: absolute;
    top: -.1rem;
    right: -.1rem;
    padding: 1.4rem;
    background-color: #32A2B8;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    border-top-right-radius: 6px;
  }
}
