{{ $logo := .Site.Params.logo }}

<nav class="main-nav" role="navigation">
  <a href="{{ .Site.BaseURL }}" class="main-nav__home">
    {{ if $logo }}
        {{ $logo := (trim $logo "/") | absURL }}
        <figure class="main-nav__logo">
          <img src="{{ $logo }}" alt="{{ .Site.Title }}" />
        </figure>
    {{ else }}
      {{ .Site.Title }}
    {{ end }}
  </a>
  <div class="main-nav__items">
    {{ partial "i18nlist.html" . }}
    {{ if .Site.Menus.main }}
      <ul>
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
    {{ partial "social-follow.html" . }}
  </div>
</nav>
