{{ $featured_image := .Param "featured_image"}}
{{ $company_logo := .Params.company_logo }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="header header--large lazy-image" data-bg="url({{ $featured_image }})">
    <div class="header__nav">
      {{ partialCached "site-navigation.html" .}}
    </div>
    <div class="header__content">
      <div>
        {{ if $company_logo }}
          {{ $company_logo := (trim $company_logo "/") | absURL }}
          <img src="{{ $company_logo }}" alt="" />
        {{ end }}
        <h1>
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2>
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="header__nav">
      {{ partialCached "site-navigation.html" .}}
    </div>
    <div class="header__content">
      <div>
        {{ if $company_logo }}
          {{ $company_logo := (trim $company_logo "/") | absURL }}
          <img src="{{ $company_logo }}" alt="" />
        {{ end }}
        <h1>
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2>
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}
