@import 'normalize.css/normalize.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #F4F4F4;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #32A2B8;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  color: #555;
}

.header {
  position: relative;
  background-size: cover;
  color: #FFF;

  h1,
  h2 {
    color: #FFF;
    font-weight: 200;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
  }

  &__nav {
    position: relative;
    padding: 1.6rem;
    z-index: 10;

    nav {
      display: flex;
      flex-flow: row wrap;
      align-content: space-between;

      > a {
        flex: 1 1 auto;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 1.6rem;
      }

      a {
        font-size: 2em;
        color: #FFF;
        text-decoration: none;
      }
    }
  }

  &__content {
    position: relative;
    padding: 1.6rem;
    z-index: 10;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 0;
  }

  &--large {
    h1 {
      font-size: 8em;
    }

    h2 {
      font-size: 2.4em;
    }

    nav figure {
      display: none;
    }
  }

  &--small {
    h1 {
      font-size: 4.8em;
    }

    h2 {
      font-size: 1.6em;
    }
  }
}

main {
  margin: 0 auto;
  padding: 1.6rem 2.4rem 25.6rem 2.4rem;
  max-width: 110rem;

  h1 {
    font-size: 4em;
  }
}


.footer {
  &__top {
    display: flex;
    margin: 0 auto;
    max-width: 110rem;
    align-content: space-between;
    flex-flow: row wrap;
    padding: 8px;

    figure {
      margin: 0;
      flex: 0 1 25%;
      text-align: center;
      padding: 8px;
    }

    img {
      border: 2px solid #000;
    }
  }

  &__bottom {
    background-color: #32A2B8;
    padding: 16px;
  }
}

/* Social */
.link-transition {
  .new-window {
    display: none;
  }
}
