<section class="contact-form">
  <h1 class="visuallyhidden">Contactformulier</h1>
  <form action="{{ .Get "action" }}" method="POST" enctype="text/plain" role="form">
    <fieldset>
      <div>
        <label for="contact-name">{{ .Get "nameLabel" }}</label>
        <input type="text" name="name" id="contact-name" autocomplete="off" required placeholder="" aria-labelledby="name"/ />
      </div>
      <div>
        <label for="contact-email">{{ .Get "emailLabel" }}</label>
        <input type="email" name="_replyto" id="contact-email" autocomplete="off" required placeholder="" aria-labelledby="email" />
      </div>
      <!-- <div class="requirements">
        {{ .Get "emailRequiredMessage" }}
      </div> -->
      <div>
        <label for="contact-message">{{ .Get "messageLabel" }}</label>
        <textarea name="body" id="contact-message" aria-labelledby="message"></textarea>
      </div>
      <div>
        <input type="submit" value="{{ .Get "sendValue" }}" />
      </div>
    </fieldset>
  </form>
</section>
